{% extends "base.html" %}

{% block breadcrumbs %}
    {% set breadcrumbs = [['name' => 'Восстановление пароля']] %}
    {% parent %}
{% endblock %}

{% block content %}
    <div class="b-wrapper">
        <div class="b-row">
            <div class="b-col b-col_small_12 b-col_large_6">
                <h1 class="b-heading">Восстановление пароля</h1>
                {{ form_render(form)|safe }}
            </div>
            <div class="b-col b-col_small_6 b-visible b-visible_large_up"></div>
        </div>
    </div>
{% endblock %}
