{% extends "base.html" %}

{% block main %}
    <div class="b-wrapper">
        <div class="b-row">
            <div class="b-col b-col_small_3">
                <div class="b-user-sidebar">
                    <div class="b-user-sidebar__title">Меню</div>

                    <div class="b-user-sidebar__item">
                        <a href="{{ url('order_list') }}"
                           class="b-user-sidebar__link">
                            Мои заказы
                        </a>
                    </div>
                    <div class="b-user-sidebar__item">
                        <a href="{{ url('user_change_password') }}"
                           class="b-user-sidebar__link">
                            Изменить пароль
                        </a>
                    </div>
                    <div class="b-user-sidebar__item">
                        <a href="{{ url('user_logout') }}"
                           class="b-user-sidebar__link">
                            Выход
                        </a>
                    </div>
                </div>
            </div>
            <div class="b-col b-col_small_9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
